
.je-splitter {
    display: flex;
    flex-direction: row;
}

.je-container,
.je-ace, .je-ace textarea,
.je-text, .je-text textarea {
    width: 100%;
}

.je-container {
    height: 300px;
    border: solid 1px #aaa;
}

.je-ace, .je-ace textarea,
.je-text, .je-text textarea {
    height: 100%;
}

textarea {
    border: none;
}