.je-splitter, .je-splitter > div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.je-splitter {
    display: flex;
    flex-direction: row;
}

.je-container,
.je-ace, .je-ace textarea,
.je-text, .je-text textarea {
    width: 100%;
}

.je-container {
    height: 300px;
    border: solid 1px #aaa;
}

.je-ace, .je-ace textarea,
.je-text, .je-text textarea {
    height: 100%;
}

textarea {
    border: none;
}

.je-drag {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;

    color: #D3D3D3;
    cursor: col-resize;
    font-size: 32px;
    min-width: 34px;

    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.je-drag:hover {
    background: #f5f5f5;
}

.je-unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    behavior: url(unselectable.htc);
}

.je-tree-node-type-object:before {
    content: '{';
}

.je-tree-node-type-object:after {
    content: '}';
}

.je-tree-node-type-array:before {
    content: '[';
}

.je-tree-node-type-array:after {
    content: ']';
}

.je-tree-node-key-value-seperator:before {
    content: '➜';
}